@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  width: 100%; /* Ensure it always takes the full width */
  min-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  --color-primary: #242d40; /* Primary color */
  --color-secondary: #0468bf; /* Secondary color */
  --color-tertiary: #fffae9; /* Tertiary color */

  /* Accent Colors */
  --color-accent: #f2bf27; /* Accent color */
  --color-success: #088c29; /* Success (green) */
  --color-warning: #ffc107; /* Warning (yellow) */
  --color-danger: #dc3545; /* Danger (red) */
  --color-info: #0dcaf0; /* Info (light blue) */

  /* Neutral Colors */
  --color-light: #f2f2f2; /* Light gray */
  --color-dark: #212529; /* Dark gray/black */

  /* Text Colors */
  --color-text-light: #f2f2f2; /* Light text (white) */
  --color-text-dark: #343a40; /* Dark text */
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

p,
span {
  word-break: break-all;
}

.sidebar {
  width: 13em;
  padding: 1rem;
  position: sticky;
  top: 1rem;
  height: fit-content;
}

.sidebar.closed {
  display: none;
}

@media (min-width: 768px) {
  .sidebar.closed {
    display: block;
  }
}

.calendar-container {
  width: 100%;
  min-width: 400px; /* Limit max width for larger screens */
  margin: auto; /* Center the calendar */
}

.react-calendar {
  border: none;
}

.react-calendar__tile {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.react-calendar__tile--active {
  background: #007bff; /* Active tile color */
  color: white;
}

.react-calendar__tile--disabled {
  background: #f8d7da; /* Disabled date color */
  color: #6c757d; /* Text color for disabled dates */
}

@media (max-width: 600px) {
  .react-calendar {
    font-size: 0.9rem; /* Smaller font size for mobile */
  }

  .react-calendar__tile {
    height: 40px; /* Smaller tile height */
    width: 40px; /* Smaller tile width */
  }
}
